* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Archivo Black', Courier, monospace;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
p {
  font-size: 12px;
  line-height: 2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 1px solid black;
  margin-top: 0;
}
body {
  background-color: #6CA6CD;
}
.main-nav nav {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-left: 20px;
  background-color: #6CA6CD;
}
.main-nav nav .btn {
  margin-top: 10px;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  background: #6CA6CD;
  border: 2px solid #f64c72;
  border-radius: 10px;
  color: #f64c72;
}
footer {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  font-family: 'Archivo Black', Courier, monospace;
  color: #f64c72;
}
.header-section {
  display: flex;
  justify-content: left;
  background-color: #6CA6CD;
  padding-top: 70px;
  padding-bottom: 150px;
}
@media (max-width: 500px) {
  .header-section {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}
.header-section .made {
  margin-left: 20px;
  color: aliceblue;
  font-size: 50px;
}
@media (max-width: 500px) {
  .header-section .made {
    margin-left: 0;
  }
}
.header-section .made .easy-span {
  color: aliceblue;
  font-size: 100px;
}
@media (max-width: 500px) {
  .header-section .made .easy-span {
    font-size: 60px;
  }
}
.header-section .made .easy-span span {
  color: #f64c72;
}
.feature-section {
  background-color: #6CA6CD;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}
.feature-section .eye-row {
  display: flex;
  margin-bottom: 20px;
}
.feature-section .eye-row .fa-eye {
  width: 50%;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 500px) {
  .feature-section .eye-row .fa-eye {
    display: none;
  }
}
.feature-section .schedule-row {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}
.feature-section .schedule-row .fa-calendar-alt {
  width: 50%;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 500px) {
  .feature-section .schedule-row .fa-calendar-alt {
    display: none;
  }
}
.feature-section .edit-row {
  display: flex;
  margin-bottom: 50px;
}
.feature-section .edit-row .fa-edit {
  width: 50%;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 500px) {
  .feature-section .edit-row .fa-edit {
    display: none;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.feature-section .feature-card {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@media (max-width: 500px) {
  .feature-section .feature-card {
    width: 100%;
    margin: 0px;
    animation: none;
  }
}
.feature-section .feature-card p {
  border: none;
  color: #ffffff;
}
.feature-section .feature-card .feature-heading {
  color: #f64c72;
}
.login-section {
  display: flex;
  justify-content: center;
  background-color: #6CA6CD;
  padding-top: 70px;
}
.login-section .fat-login {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  border: 2px solid #f64c72;
  border-radius: 5px;
  background-color: #6CA6CD;
  color: #f64c72;
  font-size: 60px;
}
