
 .mentor-section {
     display: flex;
     justify-content: space-around;
     margin-bottom: 20px;
     border-bottom: solid 1px gray;
     padding-top: 70px;
     padding-bottom: 70px;

     img {
            width: 25%;
            height: auto;
            border-radius: 10px;
     }
 }

 .header-section {
     display: flex;
     justify-content: space-around;
     border-bottom: solid 1px gray;
     margin-bottom: 20px;
     background-color: @main-color-blue;
     padding-top: 70px;
     padding-bottom: 70px;


        .info-one {
            width: 35%;
            padding: 10px;
            
            
        }

        .info-two{
            width: 35%;
            padding: 10px;
        }

        .info-three{ 
            width: 35%;
            padding: 10px;
        }

 }

 .feature-section {
     border-bottom: 1px solid gray;
     margin-bottom: 40px;
     background-color: @main-color-blue;
     padding-top: 70px;
     padding-bottom: 70px;
     display: flex;
     flex-wrap: wrap;

        .eye-row {
            display: flex;
            //border: 1px solid black;

                .fa-eye {
                    width: 50%;
                    //border: 1px solid black;
                    font-size: 150px;
                    text-align: center;
                }

        }
        // .fa-eye {
        //     color: white;
        //     font-size: 100px;
        //     width: 50px;
        //     margin-right: 300px

            
        // }

        .schedule-row {
            display: flex;
            //border: 1px solid black;

                .fa-calendar-alt {
                    width: 50%;
                    //border: 1px solid black;
                    font-size: 150px;
                    text-align: center;
                }
        }

            .edit-row {
                display: flex;
               // border: 1px solid black;
            

                    .fa-edit {
                        width: 50%;
                        //border: 1px solid black;
                        font-size: 150px;
                        text-align: center;
                    }
            }

        // .fa-calendar-alt {
        //     color: white;
        //     font-size: 50px;
        //     width: 50%;
        // }

        // .fa-edit {
        //     color: white;
        //     font-size: 50px;
        //     width: 50%;
        // }
        

        .feature-card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border: 1px solid black;
            margin: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            width: 50%;
        

                .feature-heading {
                    border: 1px solid black;
                
                }

        }

 }


 .login-section {
     display: flex;
     justify-content: center;
     background-color: @main-color-blue;
    

        .fat-login {
            padding: 35px;
            font-size: 60px;
            
        }
 }



