.main-nav {
    //  display: flex;
    //  justify-content: left;
    border: 1px solid red;

        nav {
            padding-right: 100%;
            width: 100%;
            border: 1px solid black;
            display: flex;
            justify-content: right;

            .btn {
                // display: flex;
                // justify-content: center;
                padding: 10px;
                padding-right: 25px;
                padding-left: 25px;
                margin-bottom: 10px;
            }
        }
        
 }