.main-nav {
    //  display: flex;
    //  justify-content: left;
    //border: 1px solid red;

        nav {
            //padding-right: 100%;
           
            width: 100%;
            //border: 1px solid black;
            display: flex;
            justify-content: right;
            padding-left: 20px;
            background-color: @main-color-blue;

            .btn {
                // display: flex;
                // justify-content: center;
                margin-top: 10px;
                padding: 10px;
                padding-right: 25px;
                padding-left: 25px;
                margin-bottom: 10px;
                background: @main-color-blue;
                border: 2px solid @btn-border-color;
                border-radius: 10px;
                color: @btn-border-color;

                    
            }
        }
        
 }