// mobile variable
@main-color-blue: #6ca6cd;
@icon-color: #ffffff;
@btn-border-color: #f64c72;
@silver: #c0c0c0;
@card-color: #9bc4e2;
@main-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";

// @media @mobile {
//     flex-direction: column;
//     align-items: center;

// }
